*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
}

.hero-2 {
  background-color: #f6f6fe;
}

.testimonials {
  background-color: #fff;
}

.newsletter {
  background-color: #585989;
}

.footer {
  background-color: #070439;
  color: #fff;
}
