*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

.section {
	padding: 0 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	margin-bottom: 100px;

	&__logo {
		height: 25px;
		width: auto;
	}
}

.main-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		list-style: none;
	}

	&__item + &__item {
		margin-left: 25px;
	}

	&__link {
		color: $very-dark-blue;
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
	}
}

.hero-1 {
	text-align: center;

	&__title {
		line-height: 1.5;
		margin-bottom: 30px;
		margin-top: 25px;
	}

	&__info {
		font-size: 14px;
		margin: 0 auto 25px;
		width: 95%;
	}

	&__form-email,
	&__form-submit {
		border-radius: 3px;
		display: block;
		font-family: 'Raleway', sans-serif;
		height: 40px;
		margin: 0 auto;
		width: 90%;
	}

	&__form-email {
		border: 1px solid $desaturated-blue;
		margin-bottom: 15px;
		padding: 20px;

		&::placeholder {
			color: $light-gray;
		}
	}

	&__form-submit {
		background-color: $bright-blue;
		border: none;
		color: #fff;
		font-weight: 600;

		&:focus {
			outline: none;
		}
	}
}

.hero-2 {
	background-color: $light-grayish-blue;
}

.testimonials {
	background-color: #fff;
}

.newsletter {
	background-color: $desaturated-blue;
}

.footer {
	background-color: $very-dark-blue;
	color: #fff;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
