*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// variables

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

$light-grayish-blue: #f8f8fe;
$light-gray: hsl(0, 0%, 75%);

// mixins

@mixin nav-link-after {
	content: '';
	position: absolute;
	background-color: currentColor;
	width: 100%;
	height: 1px;
	bottom: -3px;
	left: 0;
	transform-origin: left;
	transition: transform 0.2s;
	@content;
}

@mixin nav-link-hover-after {
	transform: scaleX(1);
}

@mixin button-hover {
	background-color: #fff;
	color: $bright-blue;
	border: 1px solid $bright-blue;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: currentColor;
}

img {
	width: 100%;
}

li {
	list-style: none;
}

.section {
	padding: 0 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	margin-bottom: 100px;

	&__logo {
		height: 25px;
		width: auto;
	}
}

.main-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item + &__item {
		margin-left: 25px;
	}

	&__link {
		position: relative;
		color: $very-dark-blue;
		font-family: 'Raleway', sans-serif;
		font-size: 0.75rem;

		&::after {
			@include nav-link-after;
			transform: scaleX(0);
		}

		&:hover::after {
			@include nav-link-hover-after;
		}
	}
}

.hero-1 {
	margin-bottom: 90px;
	text-align: center;

	&__title {
		line-height: 1.5;
		margin-bottom: 30px;
		margin-top: 25px;
	}

	&__info {
		font-size: 0.875rem;
		margin: 0 auto 25px;
		width: 95%;
	}

	&__form-email,
	&__form-submit {
		border-radius: 3px;
		display: block;
		font-family: 'Raleway', sans-serif;
		height: 40px;
		margin: 0 auto;
		width: 90%;
	}

	&__form-email {
		border: 1px solid $desaturated-blue;
		margin-bottom: 15px;
		padding: 20px;

		&::placeholder {
			color: $light-gray;
		}
	}

	&__form-submit {
		background-color: $bright-blue;
		border: none;
		color: #fff;
		font-weight: 600;
		transition: all 0.2s;

		&:focus {
			outline: none;
		}

		&:hover {
			@include button-hover;
		}
	}
}

.section-break {
	margin-bottom: -7px;

	&--desktop {
		display: none;
	}
}

.hero-2 {
	background-color: $light-grayish-blue;
	padding-bottom: 80px;

	&__title {
		font-size: 1.125rem;
		margin: 85px 0 25px;
		text-align: center;
	}

	&__info {
		color: $desaturated-blue;
		font-size: 1rem;
		margin-bottom: 20px;
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 0 auto 40px;
		padding-bottom: 3px;
		width: max-content;
		text-align: center;
		color: $moderate-cyan;
		font-size: 0.8125rem;

		&::after {
			@include nav-link-after;
			transform: scaleX(1);
		}

		&:hover::after {
			transform: scaleX(0);
		}
	}

	&__icon {
		width: 15px;
		margin-left: 5px;
	}
}

.testimonials {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px darken($light-grayish-blue, 5);
	font-size: 0.6875rem;
	line-height: 1.8;
	margin: 0 auto;
	padding: 25px 20px 25px 25px;
	width: 90%;

	&__icon {
		width: auto;
	}

	&__text {
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__caption {
		display: flex;
		align-items: center;
	}

	&__photo {
		border-radius: 50%;
		height: 25px;
		margin-right: 10px;
		width: 25px;
	}

	&__info {
		line-height: 1.4;
	}

	&__name {
		font-size: 0.625rem;
		font-weight: 700;
	}

	&__status {
		font-size: 0.5rem;
	}
}

.newsletter {
	background-color: $desaturated-blue;
	color: #fff;
	padding: 60px 25px 70px;
	text-align: center;

	&__title {
		margin-bottom: 20px;
	}

	&__info {
		margin-bottom: 25px;
	}

	&__email,
	&__submit {
		border: none;
		border-radius: 2px;
		box-shadow: 0 0 5px darken($desaturated-blue, 5);
		font-family: 'Raleway', sans-serif;
		font-size: 0.6875rem;
		height: 32px;
		padding: 0 10px;
		width: 240px;
	}

	&__email {
		margin-bottom: 7px;
	}

	&__submit {
		background-color: $bright-blue;
		border: none;
		color: #fff;
		font-weight: 600;
		transition: all 0.2s;

		&:focus {
			outline: none;
		}

		&:hover {
			@include button-hover;
		}
	}
}

.footer {
	background-color: $very-dark-blue;
	color: #fff;
	padding-top: 65px;

	&__logo {
		height: 50px;
		margin-bottom: 40px;
		width: auto;
	}

	&__contact {
		margin-bottom: 60px;
	}

	&__contact-data {
		margin-bottom: 20px;
	}

	&__contact-icon {
		margin-right: 20px;
		width: 20px;
	}
}

.footer-nav {
	margin-bottom: 50px;

	&__item {
		margin-bottom: 20px;
	}

	&__link {
		position: relative;
		color: #fff;

		&::after {
			@include nav-link-after;
			transform: scaleX(0);
		}

		&:hover::after {
			@include nav-link-hover-after;
		}
	}
}

.social-media {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #fff;
		border-radius: 50%;
		color: #fff;
		height: 30px;
		width: 30px;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__link + &__link {
		margin-left: 10px;
	}
}

.attribution {
	font-size: 0.6875rem;
	padding-bottom: 10px;
	text-align: center;

	a {
		color: $light-gray;

		&:hover {
			color: #fff;
		}
	}
}

@media (min-width: 770px) {
	.section {
		padding-left: 25px;
		padding-right: 25px;
	}

	.container {
		max-width: 1280px;
		margin: 0 auto;
	}

	.header {
		align-items: center;
		margin-bottom: 85px;
		padding-top: 65px;

		&__logo {
			height: 50px;
		}
	}

	.main-nav {
		&__link {
			font-size: 1.125rem;
		}
	}

	.hero-1 {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		margin-bottom: 170px;
		text-align: left;

		&__column {
			&--first {
				flex-basis: 49%;
			}
			&--second {
				flex-basis: 51%;
			}
		}

		&__title {
			font-size: 2.375rem;
			margin-top: 0;
		}

		&__info {
			font-size: 1.125rem;
			margin: 0 0 25px;
		}

		&__form-email,
		&__form-submit {
			display: inline-block;
			height: 45px;
			margin: 0 0 15px;
		}

		&__form-email {
			margin-right: 20px;
			width: 52%;
		}
		&__form-submit {
			width: 32%;
		}
	}

	.section-break {
		&--mobile {
			display: none;
		}
		&--desktop {
			display: block;
			margin-bottom: -20px;
		}
	}

	.hero-2 {
		padding-bottom: 100px;
		&--container {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			text-align: left;
		}

		&__column {
			&--first {
				flex-basis: 55%;
			}
			&--second {
				flex-basis: 45%;
			}
		}

		&__title {
			font-size: 2.5rem;
			margin-top: 65px;
			text-align: left;
		}

		&__info {
			width: 75%;
		}

		&__cta {
			margin: 0 0 45px;
		}

		&__link {
			font-size: 1.125rem;
		}

		&__icon {
			width: 18px;
		}
	}

	.testimonials {
		margin: 0;
		font-size: 0.8125rem;
		padding: 30px 35px;
		width: 50%;

		&__text {
			font-weight: 500;
		}

		&__photo {
			height: 35px;
			width: 35px;
		}

		&__name {
			font-size: 0.75rem;
		}

		&__status {
			font-size: 0.625rem;
		}
	}

	.newsletter {
		padding-top: 110px;
		padding-bottom: 100px;

		&__container {
			display: flex;
			text-align: left;
		}

		&__column {
			&--first {
				flex-basis: 58%;
			}
			&--second {
				flex-basis: 42%;
			}
		}

		&__title {
			font-size: 2rem;
		}

		&__info {
			margin-bottom: 0;
			width: 69%;
		}

		&__email,
		&__submit {
			box-shadow: 5px 5px 10px darken($desaturated-blue, 10);
			font-size: 0.875rem;
			height: 50px;
			padding: 0 25px;
		}

		&__email {
			width: 480px;
			margin-bottom: 15px;
		}

		&__submit {
			width: 200px;
		}
	}

	.footer {
		padding-top: 110px;

		&__logo {
			margin-bottom: 25px;
		}

		&__container {
			display: flex;
			justify-content: space-between;
		}
	}

	.footer-nav {
		margin-bottom: 70px;
	}

	.social-media {
		margin-right: 15%;

		&__link + &__link {
			margin-left: 15px;
		}
	}
}

@media (min-width: 1400px) {
	.section {
		padding-left: 0;
		padding-right: 0;
	}
}
