*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);

$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);

$light-grayish-blue: #f8f8fe;
// $light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

li {
	list-style: none;
}

.section {
	padding: 0 25px;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	margin-bottom: 100px;

	&__logo {
		height: 25px;
		width: auto;
	}
}

.main-nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item + &__item {
		margin-left: 25px;
	}

	&__link {
		color: $very-dark-blue;
		font-family: 'Raleway', sans-serif;
		font-size: 12px;
	}
}

.hero-1 {
	margin-bottom: 90px;
	text-align: center;

	&__title {
		line-height: 1.5;
		margin-bottom: 30px;
		margin-top: 25px;
	}

	&__info {
		font-size: 14px;
		margin: 0 auto 25px;
		width: 95%;
	}

	&__form-email,
	&__form-submit {
		border-radius: 3px;
		display: block;
		font-family: 'Raleway', sans-serif;
		height: 40px;
		margin: 0 auto;
		width: 90%;
	}

	&__form-email {
		border: 1px solid $desaturated-blue;
		margin-bottom: 15px;
		padding: 20px;

		&::placeholder {
			color: $light-gray;
		}
	}

	&__form-submit {
		background-color: $bright-blue;
		border: none;
		color: #fff;
		font-weight: 600;

		&:focus {
			outline: none;
		}
	}
}

.hero-2 {
	background-color: $light-grayish-blue;
	padding-bottom: 80px;

	&__title {
		font-size: 18px;
		margin: 85px 0 25px;
		text-align: center;
	}

	&__info {
		color: $desaturated-blue;
		font-size: 16px;
		margin-bottom: 20px;
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid $moderate-cyan;
		margin: 0 auto 40px;
		padding-bottom: 3px;
		width: max-content;
		text-align: center;
	}

	&__link {
		color: $moderate-cyan;
		font-size: 13px;
		margin-right: 10px;
	}

	&__icon {
		width: 15px;
	}
}

.testimonials {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px darken($light-grayish-blue, 5);
	font-size: 11px;
	line-height: 1.8;
	margin: 0 auto;
	padding: 25px 20px 25px 25px;
	width: 90%;

	&__icon {
		width: auto;
	}

	&__text {
		font-weight: 700;
		margin-bottom: 15px;
	}

	&__caption {
		display: flex;
		align-items: center;
	}

	&__photo {
		border-radius: 50%;
		height: 25px;
		margin-right: 10px;
		width: 25px;
	}

	&__info {
		line-height: 1.4;
	}

	&__name {
		font-size: 10px;
		font-weight: 700;
	}

	&__status {
		font-size: 8px;
	}
}

.newsletter {
	background-color: $desaturated-blue;
}

.footer {
	background-color: $very-dark-blue;
	color: #fff;
	padding-top: 65px;

	&__logo {
		height: 50px;
		margin-bottom: 40px;
		width: auto;
	}

	&__contact {
		margin-bottom: 60px;
	}

	&__contact-data {
		margin-bottom: 20px;
	}

	&__contact-icon {
		margin-right: 20px;
		width: 20px;
	}
}

.footer-nav {
	margin-bottom: 50px;

	&__item {
		margin-bottom: 20px;
	}
	&__link {
		color: #fff;
	}
}

.social-media {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #fff;
		border-radius: 50%;
		color: #fff;
		height: 30px;
		width: 30px;
	}

	&__link + &__link {
		margin-left: 10px;
	}
}

.attribution {
	font-size: 11px;
	padding-bottom: 10px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
